<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../layout/head.ejs", {title: "Login | Info Blogger"}) %>
    <link rel="stylesheet" href="/css/singInUp.css" />
    <script type="module" src="/js/login.js" defer></script>
  </head>
  <body>
    <section class="section from-section">
      <div class="container">
        <div class="form-content">
          <div class="form-card">
            <div class="card-header">
              <a href="/" class="logo">
                <img
                  src="/images/logo-light.svg"
                  class="light"
                  alt="Info Blogger"
                />
              </a>
              <p>Join Info Blogger Community</p>
            </div>
            <form action="" class="form" data-form>
              <div class="text-field-wrapper">
                <label for="email" class="label">Email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="text-field"
                  placeholder=""
                  autocomplete="off"
                  required
                />
              </div>
              <div class="text-field-wrapper">
                <label for="password" class="label">Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="text-field"
                  placeholder=""
                  minlength="8"
                  required
                />
              </div>
              <button
                type="submit"
                class="btn-primary btn-fill"
                data-submit-btn
              >
                <p>Sing In</p>
              </button>
            </form>
            <div class="card-footer">
              <p>If you don't have any account?</p>
              <a href="/register">Sing In</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Snackbar -->
    <div class="snackbar-wrapper" data-snackbar-wrapper></div>
  </body>
</html>
