<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Meta tags -->
<title><%= locals.title %></title>
<meta name="title" content="<%= locals.title  %>" />
<meta
  name="description"
  content="Write article about your Environmental news"
/>
